<table align="center">
  <tr><th colspan="6"><a [routerLink]="['/']">
 <img src=" https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/EswatiniProplogocropped.png">
</a></th><th><a [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons">shopping_cart</i></a></th>
  </tr>
<tr align="center">
  <td>
<a [routerLink]="['/news']" class="button fancy-button">News</a></td>
<td>
<a [routerLink]="['/contact']" class="button fancy-button">Podcasts</a></td>
<td>
<a [routerLink]="['/free']" class="button fancy-button">Advertise</a></td>
  <td>
<a [routerLink]="['/subsc']" class="button fancy-button">Subscribe </a></td>
<td>
<a [routerLink]="['/contact']" class="button fancy-button">Contact Us</a></td>
<!--<td>
<a [routerLink]="['/free']" class="button fancy-button">Free Downloads</a></td>
<td>
<a [routerLink]="['/free']" class="button fancy-button">About us</a></td>
-->
</tr>
</table>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->