      <img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/subscribe2.png">

      <h2>Subscribe!!!!</h2>

<form oninput="x.value=parseInt(insights.value)+parseInt(copiesperissue.value)" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

<!--<h2>2020 ESWATINI PROPERTY REVIEW SUBSCRIPTION FORM</h2>-->
<p><label for="Price"> Price per annum:</label> E300 including delivery <label for="frequency">Frequency:</label> Every Two Months Number of copies per annum:  6  
<label for="package">Package includes:</label> Eswatini Property Review Print x 6, Online Edition, Podcasts and Newsletters </p>

<label for="additional">
For an additional E99  once off you get Insights every four months,make yyour selection below 
</label>
<div >
<!--<label for="insights">
Insights(Research)
</label>-->
<select matNativeControl required id="insights">
  <option value="0">Please select</option>
<option value="99">Insights(Research)</option>
</select>
</div>

<!--
<p>
  Value: {{ insights.value }}

</p>-->

<div>
  <!-- <label for="copiesperissue">
      Select number of copies per issue
    </label>-->
    <select matNativeControl required id="copiesperissue">
<option value="0">Select number of copies per issue</option>
<option value="300">1 copy per issue</option>
<option value="600">2 copies per issue</option>
<option value="900">3 copies per issue</option>
<option value="1200">4 copies per issue</option>
<option value="1500">5 copies per issue</option>
<option value="1800">6 copies per issue</option>
<option value="2100">7 copies per issue</option>
<option value="2400">8 copies per issue</option>
<option value="2700">9 copies per issue</option>
<option value="3000">10 copies per issue</option>
<option value="3300">11 copies per issue</option>
<option value="3600">12 copies per issue</option>
<option value="3900">13 copies per issue</option>
<option value="4200">14 copies per issue</option>
<option value="4500">15 copies per issue</option>
<option value="4800">16 copies per issue</option>
<option value="5100">17 copies per issue</option>
<option value="5400">18 copies per issue</option>
<option value="5700">19 copies per issue</option>
<option value="6000">20 copies per issue</option>
  </select>
</div>


Your total is going to be = E<output name="x"  value="300" for="insights copiesperissue"></output>
<div>
    <label for="nameandsurname">
      Name
    </label>
    <input id="nameandsurname" type="text" [formControl]="nameandsurname" required>
</div>

<div>
    <label for="Cname">
      Company Name(If applicable)
    </label>
    <input id="Cname" type="text" formControlName="Cname">
</div>

<div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address">
</div>

<div>
    <label for="Tnumber">
Tel Number
 </label>
    <input id="Tnumber" type="text" formControlName="Tnumber">
</div>

<div>
    <label for="Cnumber">
Cell Number
 </label>
    <input id="Cnumber" type="text" formControlName="Cnumber" required>
</div>

<div>
    <label for="Eaddress">
      Email Address
    </label>
    <input id="Eaddress" type="text" formControlName="Eaddress">
</div>

<div>
    <label for="DOB">
Date of Birth yyyy-mm-dd(Password for online edition)
</label>
<input id="DOB" type="text" formControlName="DOB">
</div>


<div>
    <label for="Paddress">
      Postal Address
    </label>
    <input id="Paddress" type="text" formControlName="Paddress">
</div>

<div>
    <label for="POP">
      Proof Of Payment
    </label>
    <input id="POP" type="file" formControlName="POP">
</div>



  <button class="button" type="submit">Submit</button>

</form>


